In [24]:
import sqlite3
db = sqlite3.connect("Indo_America2.db")

In [25]:
# Drop table if it already exist using execute() method.
db.execute("drop table if exists indoamerica_game")
# Create table as per requirement
db.execute("create table indoamerica_game(sub text, verb text, obj text)")
#inserting values inside the created table
db.execute("insert into indoamerica_game(sub, verb, obj) values('Americans','play','Baseball' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Americans','play','Cricket' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Americans', 'watch', 'Baseball' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Americans', 'watch', 'Cricket' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Indians',   'play', 'Baseball' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Indians',    'play', 'Cricket' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Indians',    'watch', 'Baseball' )")
db.execute("insert into indoamerica_game(sub, verb, obj) values('Indians',   'watch', 'Cricket' )")

In [26]:
db.commit()

In [40]:
game_results = db.execute("select * from indoamerica_game order by sub")
for row in results:
    print(row)

('Americans', 'play', 'Baseball')
('Americans', 'play', 'Cricket')
('Americans', 'watch', 'Baseball')
('Americans', 'watch', 'Cricket')
('Indians', 'play', 'Baseball')
('Indians', 'play', 'Cricket')
('Indians', 'watch', 'Baseball')
('Indians', 'watch', 'Cricket')